<div class="container p-3">
  <h1>Add a new review</h1>
  <%= render 'reviews/form' %>
  <%= link_to restaurants_path, class: "btn btn-secondary text-white" do %>
    <i class="fa fa-backward" aria-hidden="true"></i>
    Back
  <% end %>
</div>
